#contact {
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

h1 {
  font-size: 25px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */

.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}
.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 100%;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #3e497a;
}

.form-input:focus {
  border: 1px solid #3e497a;
  outline: none;
}

.form-inputs textarea {
  height: 175px;
  padding: 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
  color: #3e497a;
  resize: none;
}

.form-inputs textarea:focus {
  border: 1px solid #3e497a;
  outline: none;
}

.send-button {
  background-color: #3e497a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  height: 34px;
  width: calc(100% - 20px);
  margin: 0 10px;
  height: 34px;
}

.send-button:hover {
  background-color: #596392;
  cursor: pointer;
}

.spinner {
  margin: 20px auto;
}

/* Begin Right Contact Page */
.direct-contact-container {
  width: 50%;
  margin: auto 0;
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  line-height: 3;
  margin: 0 auto;
}

.contact-text {
  font: 300 18px;
  letter-spacing: 1.9px;
}

.place {
  margin-left: 30px;
}

.contact-text a {
  text-decoration: none;
  color: #3e497a;
}

.contact-text a:visited {
  color: #3e497a;
}

.gmail > a:hover {
  color: rgb(219 68 55);
  font-weight: bold;
}

.whatsapp > a:hover {
  color: rgb(37 211 102);
  font-weight: bold;
}

.error {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container,
  .form-horizontal,
  .contact-list {
    margin: 0 auto;
  }
  .contact-form {
    width: 100%;
  }
  .form-horizontal,
  .direct-contact-container {
    width: 100%;
  }
  .contact-list {
    padding-left: 40px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 569px) {
  .direct-contact-container,
  .form-wrapper {
    float: none;
    margin: 0 auto;
  }
  .form-input,
  textarea {
    margin: 10px auto;
  }

  .form-input,
  textarea {
    width: 280px;
  }

  .direct-contact-container {
    margin-top: 10px;
    max-width: 280px;
  }
  .send-button {
    width: calc(100% - 20px);
    margin: 0 10px;
  }
}

@media screen and (max-width: 425px) {
  .contact-form {
    min-width: 300px;
  }

  .form-input,
  textarea {
    min-width: 300px;
  }
  .send-button {
    width: calc(100% - 20px);
  }
  .contact-list {
    margin-left: -50px;
  }
  .place {
    margin-left: 16px;
  }
  .list-item {
    width: 300px;
    line-height: 4;
  }
}
